.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .table th, .table td {
    padding: 12px 15px;
    border-bottom: 1px solid #420e0e;
  }
  
  .table th {
    background-color: #f4f4f4;
  }
  
  .table tr:hover {
    background-color: #f9f9f9;
  }
  
  .table td a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .table td a:hover {
    text-decoration: underline;
  }
  
  .icon-button1 {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-size: 18px;
  }
  .icon-button2 {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 18px;
  }
  
  .icon-button1:hover {
    color: #263655;
  }
  .icon-button2:hover {
    color: #263655;
  }
  